bitwise AND operator

In [1]:
a=60
b=13
c=a&b;
print(c)

12

In [1]:
a=10
b=15
k=a&b
k

10

bitwise OR operator

In [2]:
a=60
b=13
c=a|b;
print(c)

61

bitwise XOR operator

In [3]:
a=60
b=13
c=a^b;
print(c)

49

NOT

In [4]:
a=60
b=13
c=~a;
print(c)

-61

left shift

In [5]:
a=60
b=13
c=a<<2
print(c)

240

right shift

In [6]:
a=60
b=13
c=a>>2
print(c)

15

identity operator

In [7]:
x=100
y=200
print(x is y)
print(x is not y)

False
True

In [8]:
x=800
y=800
print(x is y)
print(x is not y)

False
True

In [9]:
x=[100,200,150]
print(100 in x)

True

In [10]:
t1=(10,15,'A')
print(t1)
print(t1[1])

(10, 15, 'A')
15

if condition

In [11]:
a=100
b=10
if a>b:
    print(a,'greater than',b)
elif b>a:
    print(b,'greater than',a)
else:
    print(a,'and',b,'are equal')

100 greater than 10

In [12]:
a=500
if a<100:
    print(a,'less than 100')
elif(100<=a<=200):
    print(a,'is between 100 and 200')
else:
    print(a,'greater than 400')

500 greater than 400

In [13]:
a=11
if a<100:
    print(a,'less than 100')
    if (50<=a<=70):
        print(a,'lies between 50 and 70')
    elif(11<=a<=99):
        print(a,'lies between 11 and 99')
    else:
        print(a,'is less than 20')
elif(30<=a<=300):
    print(a,'is between 30 and 300')
else:
    print(a,'greater than 300')

11 less than 100
11 lies between 11 and 99

In [14]:
a=300
b=500
if a<b:
    print(a,'is smaller than',b)
    if 10<=a<=100:
        print(a,'is between 10 and 100')
    elif a<10:
        print(a,'is less than',b)
    else:
        print(a,'is bigger than',b)

300 is smaller than 500
300 is bigger than 500

while loop

In [15]:
a=1
while a<=6:
    print('the num is',a)
    a+=1
    print("program end")

the num is 1
program end
the num is 2
program end
the num is 3
program end
the num is 4
program end
the num is 5
program end
the num is 6
program end

In [16]:
x=2
print('loop start')
while x<10:
    print(x)
    x+=1
print('loop end')

loop start
2
3
4
5
6
7
8
9
loop end

for loop

In [17]:
A=[10,15,20,25]
for i in range (len(A)):
    print(i)
print('happy birthday')

0
1
2
3
happy birthday

nested loop

In [18]:
for i in range(10):
    print(str(i)*i)
    print('good day')

good day
1
good day
22
good day
333
good day
4444
good day
55555
good day
666666
good day
7777777
good day
88888888
good day
999999999
good day

In [19]:
a=['pen','pencil','book','toy']
b=['school','college']
for i in a:
    print(i)
for j in b:
    print(" ",j)

pen
pencil
book
toy
  school
  college

input parameter

In [1]:
no1=input("enter the value")
no2=input("enter the value")
print('data type no1',type(no1))
no3=int(no1)+int(no2)
print(no3)

enter the value56
enter the value76
data type no1 <class 'str'>
132

#File operations

write file

In [2]:
newfile=open("sample1.txt",'w')
print('start')
for i in range(10):
    newfile.write('happy diwali\n')
print('end')
newfile.close()

start
end

read file

In [3]:
newfile=open("sample1.txt",'r')
print('start')
print(newfile.read())
print('end')
newfile.close()

start
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali
happy diwali

end

close

In [4]:
newfile.close()

rename

In [5]:
import os
os.rename("Sample1.txt","Sample2.txt")

remove

In [6]:
import os
os.remove("Sample2.txt")

mode

In [1]:
newfile=open("Sample1.txt","r")
print(newfile.mode)

FileNotFoundError: [Errno 2] No such file or directory: 'Sample1.txt'

name

In [2]:
newfile=open("Sample1.txt","r")
print(newfile.name)

FileNotFoundError: [Errno 2] No such file or directory: 'Sample1.txt'

In [3]:
str(5)*5

'55555'

In [4]:
values=input("input some comma separated nums: ")
list1=values.split(",")
tuple1=tuple(list1)
print('list: ',list1)
print('tuple: ',tuple1)

input some comma separated nums: 7,8,9,0
list:  ['7', '8', '9', '0 ']
tuple:  ('7', '8', '9', '0 ')

In [12]:
import sys
print("python version")
print(sys.version)
print("version info.")
print(sys.version_info)

python version
3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
version info.
sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)

In [13]:
import datetime
x=datetime.datetime.now()
print(x)

2023-11-18 03:52:41.776125

In [14]:
import datetime
now=datetime.datetime.now()
print("current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

current date and time:
2023-11-18 03:52:42

In [15]:
from math import pi
r=float(input("input the radius of the circle: "))
print("the area of the circle with radius "+str(r)+" is: "+str(pi*r**2))

input the radius of the circle: 88
the area of the circle with radius 88.0 is: 24328.49350939936

In [16]:
fname=input("input your first name: ")
lname=input("input your last name: ")
print("hello "+lname+" "+fname)

input your first name: Aishwarya
input your last name: choudaripalli
hello choudaripalli Aishwarya

In [17]:
txt="hello,my name is peter,iam from uk"
x=txt.split(",")
print(x)

['hello', 'my name is peter', 'iam from uk']

In [18]:
txt="apple#banana#cherry#orange"
x=txt.split('#')
print(x)

['apple', 'banana', 'cherry', 'orange']

In [19]:
filename=input("input the filename: ")
f_extns=filename.split(".")
print("the extension of the file is: "+repr(f_extns[-1]))

input the filename: python
the extension of the file is: 'python'

In [20]:
import datetime
today=datetime.datetime.now()
print(today)
print(str(today))
print(repr(today))

2023-11-18 03:53:34.557519
2023-11-18 03:53:34.557519
datetime.datetime(2023, 11, 18, 3, 53, 34, 557519)

In [21]:
color_list=['red','green','white','black']
color_list=['red','green','white','black']
print("%s %s"%(color_list[0],color_list[-1]))

red black

In [22]:
a=int(input('input an integer:'))
n1=int("%s"%a)
n2=int("%s%s"%(a,a))
n3=int("%s%s%s"%(a,a,a))
print(n1)
print(n2)
print(n3)

input an integer:44
44
4444
444444

In [23]:
pi=3.14
r=6.0
v=4.0/3.0*pi*r**3
print('the volume of sphere is: ',v)

the volume of sphere is:  904.3199999999999

In [1]:
time=float(input("input time in seconds: "))
day=time//(24*3600)
time=time%(24*3600)
hour=time//3600
time%=3600
minutes=time//60
time%=60
seconds=time
print("d:h:m:s->%d days:%d hours:%d minutes:% seconds"%(day,hour,minutes,seconds))

input time in seconds:  40000

d:h:m:s->0 days:11 hours:6 minutes:40.0econds

In [3]:
a=float(input("enter the 1st number for addition: "))
b=float(input("enter the 2nd number for addition: "))
sum=a+b
print(f"addition of 1st and 2nd numbers is :  i.e., {a}+{b}={sum}")

enter the 1st number for addition:  67.88
enter the 2nd number for addition:  88.76

addition of 1st and 2nd numbers is :  i.e., 67.88+88.76=156.64

In [ ]:
c=float(input("enter the 1st number for division: "))
d=float(input("enter the 2nd number for division: "))
if d==0:
    print("as the 2nd number is zero