In [1]:
print('hello! world')

hello! world

In [2]:
print(type("a"))
print(type(2))
print(type(2.5))

<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
age: int = 34

In [4]:
age

34

In [5]:
def to_seconds(x):
    return (x*24)*60
for x in range(1,31,1):
    print(str(x)+' days has '+'  '+str(to_seconds(x))+'  seconds')

1 days has   1440  seconds
2 days has   2880  seconds
3 days has   4320  seconds
4 days has   5760  seconds
5 days has   7200  seconds
6 days has   8640  seconds
7 days has   10080  seconds
8 days has   11520  seconds
9 days has   12960  seconds
10 days has   14400  seconds
11 days has   15840  seconds
12 days has   17280  seconds
13 days has   18720  seconds
14 days has   20160  seconds
15 days has   21600  seconds
16 days has   23040  seconds
17 days has   24480  seconds
18 days has   25920  seconds
19 days has   27360  seconds
20 days has   28800  seconds
21 days has   30240  seconds
22 days has   31680  seconds
23 days has   33120  seconds
24 days has   34560  seconds
25 days has   36000  seconds
26 days has   37440  seconds
27 days has   38880  seconds
28 days has   40320  seconds
29 days has   41760  seconds
30 days has   43200  seconds

### loops

#### while loop

In [6]:
n=1
result=n*4
while result<=40:
     print(result)
     n+=1
     result=n*4
print("done")

4
8
12
16
20
24
28
32
36
40
done

In [7]:
def count_factors(num):
    
    factor=1
    count=1
    
    if num==0:
        return 0
    while factor<num:
        if num % factor == 0:  
            count+=1
        factor+=1
    return count

In [8]:
print(count_factors(0))
print(count_factors(3))
print(count_factors(24))

0
2
8

In [9]:
def add_table(num):
    iterated_num=1
    my_sum=1
    while iterated_num<=6:
         my_sum=num+iterated_num
         if my_sum>20:
            break
         print(str(num),'+',str(iterated_num),'=',my_sum)
         iterated_num+=1

In [10]:
add_table(10)
add_table(6)
add_table(3)

10 + 1 = 11
10 + 2 = 12
10 + 3 = 13
10 + 4 = 14
10 + 5 = 15
10 + 6 = 16
6 + 1 = 7
6 + 2 = 8
6 + 3 = 9
6 + 4 = 10
6 + 5 = 11
6 + 6 = 12
3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
3 + 5 = 8
3 + 6 = 9

In [11]:
def is_power_of_two(number):
  # This while loop checks if the "number" can be divided by two
  # without leaving a remainder. How can you change the while loop to
  # avoid a Python ZeroDivisionError?
  if number<=0:
    return False
  while number % 2 == 0:
    number = number//2
  # If after dividing by 2 "number" equals 1, then "number" is a power
  # of 2.
  if number == 1:
    return True
  else:
    return False

In [12]:
print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

False
True
True
False

In [13]:
def sum_divisors(number):
# Initialize the appropriate variables
  divisor= 1
  total= 0

  # Avoid dividing by 0 and negative numbers 
  # in the while loop by exiting the function
  # if "number" is less than one
  if number==0:
    return 0 

  # Complete the while loop
  while divisor<number:
    if number % divisor == 0:
      total += divisor
    # Increment the correct variable
    divisor+= 1

  # Return the correct variable 
  return total

In [14]:

print(sum_divisors(0)) # Should print 0
print(sum_divisors(3)) # Should print 1
# 1
print(sum_divisors(36)) # Should print 1+2+3+4+6+9+12+18
# 55
print(sum_divisors(102)) # Should print 1+2+3+6+17+34+51
# 114

0
1
55
114

### for loop

In [15]:
x=1
for n in range(1,10):
    x*=n
print(x)

362880

In [16]:
def to_celsius(x):
    return(x-32)*5/9
for x in range(0,101,10):
    print(x,to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [17]:
for x in range(4):
    print(x)

0
1
2
3

In [18]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [19]:
for x in range(10,101,10):
    print(x)

10
20
30
40
50
60
70
80
90
100

### nested for loop

In [20]:
for leftnum in range(7):
    for rightnum in range(leftnum,7):
        print('[',str(leftnum),'|',str(rightnum),']',end=" ")
        print()

[ 0 | 0 ]
[ 0 | 1 ]
[ 0 | 2 ]
[ 0 | 3 ]
[ 0 | 4 ]
[ 0 | 5 ]
[ 0 | 6 ]
[ 1 | 1 ]
[ 1 | 2 ]
[ 1 | 3 ]
[ 1 | 4 ]
[ 1 | 5 ]
[ 1 | 6 ]
[ 2 | 2 ]
[ 2 | 3 ]
[ 2 | 4 ]
[ 2 | 5 ]
[ 2 | 6 ]
[ 3 | 3 ]
[ 3 | 4 ]
[ 3 | 5 ]
[ 3 | 6 ]
[ 4 | 4 ]
[ 4 | 5 ]
[ 4 | 6 ]
[ 5 | 5 ]
[ 5 | 6 ]
[ 6 | 6 ]

In [21]:
animals=['lion','tiger','bear','elephant']
for samespecies in animals:
    for differentspecies in animals:
        if samespecies != differentspecies:
            print(samespecies +' vs '+ differentspecies)

lion vs tiger
lion vs bear
lion vs elephant
tiger vs lion
tiger vs bear
tiger vs elephant
bear vs lion
bear vs tiger
bear vs elephant
elephant vs lion
elephant vs tiger
elephant vs bear

In [22]:
def greet_friends(friends):
    for friend in friends:
        print("hello  "+friend)

In [23]:
greet_friends(['vaagdevi','sravanthi','nushrath','priya dharshini'])

hello  vaagdevi
hello  sravanthi
hello  nushrath
hello  priya dharshini

In [24]:
greet_friends("HARINI")

hello  H
hello  A
hello  R
hello  I
hello  N
hello  I

In [25]:
#FOR LOOP SYNTAX
#for variable in sequence:
    #body of loop

In [26]:
def area_of_traingle(base,height):
    return base*height/2
area_a=area_of_traingle(9,4)
area_b=area_of_traingle(8,3)
sum=area_a+area_b
print("the sum of both areas is: ",str(sum))

the sum of both areas is:  30.0

In [27]:
def convert_seconds(seconds):
    hours=seconds//3600
    minutes=(seconds-hours*3600)//60
    remaining_seconds=seconds-hours*3600-minutes*60
    return hours,minutes,remaining_seconds

In [28]:
convert_seconds(50000)

(13, 53, 20)

In [29]:
convert_seconds(5000)

(1, 23, 20)

In [30]:
hours,minutes,seconds=convert_seconds(5000)
print('hours:',hours,'minutes:',minutes,'seconds:',seconds)

hours: 1 minutes: 23 seconds: 20

In [31]:
def greetings(name):
    print('welcome',name)

In [32]:
greetings('honey')

welcome honey

In [33]:
result=greetings('friend')
print(result)

welcome friend
None

In [34]:
def hint_username(username):
    if len(username) < 3:
         print("Invalid username. Must be at least 3 characters long")
    else:
         print('valid username')

In [35]:
hint_username('aishwarya')

valid username

In [36]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False
is_even(6)

True

### while loop

In [37]:
x =   0
while x < 6:
    print("Not there yet, x=" + str(x))
    x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
Not there yet, x=5
x=6

In [1]:
x=1
sum=0
while x<10:
    sum = sum + x
    x=x+1

In [39]:
print(x,sum)

10 45

In [40]:
1+2+3+4+5+6+7+8+9

45

In [41]:
product=1
while x<10:
    product=product*x
    x=x+1

In [42]:
print(product)

1

In [43]:
x

10

In [44]:
if x !=0:
    while x%2 == 0:
         x=x/2
print(x)

5.0

In [45]:
y=16
while y!=0 and y%2==0:
    y=y/2
    print(y)

8.0
4.0
2.0
1.0

In [46]:
print (x)

5.0

### for loop

In [47]:
for x in range(5):
    print(x)

0
1
2
3
4

In [48]:
happy3=['sravanthi','vaagdevi','aishwarya']
for happy in happy3:
    print('hlo '+ happy)

hlo sravanthi
hlo vaagdevi
hlo aishwarya

In [49]:
values = [ 23, 52, 59, 37, 48 ]
sum = 0
length = 0
for value in values:
    sum += value
    length += 1

print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

In [50]:
nums=[25,56,78,34,67]
sum=0
length=0
for num in nums:
    sum+=num
    length+=1
print('sum =',str(sum),'      avg =',str(sum/length))

sum = 260       avg = 52.0

In [51]:
birds=['peacock','pigeon','crow','parrot']
for rare_birds in birds:
    for notrare_birds in birds:
        if (rare_birds != notrare_birds):
            print(rare_birds+" vs "+notrare_birds)

peacock vs pigeon
peacock vs crow
peacock vs parrot
pigeon vs peacock
pigeon vs crow
pigeon vs parrot
crow vs peacock
crow vs pigeon
crow vs parrot
parrot vs peacock
parrot vs pigeon
parrot vs crow

In [52]:
greeting='anyaseyo'
for char in greeting:
    print(char)

a
n
y
a
s
e
y
o

In [53]:
name='jai hanuman'
index=0
while index<len(name):
    print(name[index:index+1])
    index+=1

j
a
i

h
a
n
u
m
a
n

In [54]:
numbers=[25,21,10]
sq_numbers=[x**2 for x in numbers]
print(sq_numbers)

[625, 441, 100]

### recursion

In [55]:
def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)

In [56]:
factorial(5)

120

### for loop with range

In [57]:
def count_by_10(end):
    count=""
    for number in range(0,end+1,10):
        count +=str(number)+" "
    return count.strip()
print(count_by_10(200))

0 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

In [58]:
def matrix(initial_num,end_of_first_row):
    n1=initial_num
    n2=end_of_first_row+1
    for column in range(n1,n2):
        for row in range(n1,n2):
            print(column*row,end=" ")
        print()

In [59]:
matrix(1,4)

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [60]:
for outer_loop in range(5):
    for inner_loop in range(outer_loop):
        print(inner_loop)

0
0
1
0
1
2
0
1
2
3

In [61]:
for n in range(11,0,-2):
    if n%2 !=0:
        print(n,end=" ")

11 9 7 5 3 1

In [62]:
start_num=20
while start_num>=0:
    print(start_num,end=" ")
    start_num -= 4

20 16 12 8 4 0

In [63]:
def xfig(salary):
    tally=0
    if salary == 0:
        tally += 1
        while salary>=1:
            salary=salary/10
            tally += 1
        return tally
print("the CEO has a "+ str(xfig(5000000)) +"- fig salary.")

the CEO has a None- fig salary.

In [64]:
144/17

8.470588235294118

In [1]:
def test_code(num):
  x = num
  while x % 2 == 0:
    x = x / 2

In [8]:
file=open("file.txt","w")
file.write("data inside file.")
#close opend file
file.close()

In [9]:
file=open("file.txt","w")
file.write("python is a great language.\n yeah its great!!\n")
#close opend file
file.close()

In [10]:
#open a file 
file=open("file.txt","r+")
str=file.read(50)
print("read string is:",str)
#close opend file
file.close()

read string is: python is a great language.
 yeah its great!!

In [17]:
#open a file
file=open("file.txt","r+")
str=file.read(26)
print("read string is:",str)
#check current position
position =file.tell();
print("current file position:",position)
#reposition pointer at the begining once again
position=file.seek(0,0);
str=file.read(50);
print("again read string is:",str)
#close opend file
file.close()

read string is: python is a great language
current file position: 26
again read string is: python is a great language.
 yeah its great!!