# string operations

In [19]:
x='nice day'
print(len(x))
print(x)

8
nice day

In [20]:
x[4]

' '

In [21]:
x[0:5]

'nice '

In [22]:
x[-1]

'y'

In [23]:
print('o' in x)

False

In [24]:
print('n'in x)

True

In [25]:
a='python'
b='learning'
duration_days= 30
print('hey you know %s %s duration is %d days'%(a,b,duration_days))

hey you know python learning duration is 30 days

In [26]:
a='aish'
print(a*2)

aishaish

In [27]:
aa=a[0:10]+ ' arts'
print(aa)

aish arts

In [28]:
str='wonderful Dress'
str

'wonderful Dress'

In [29]:
print(str.find('d'))

3

In [30]:
print(str.find('D'))

10

In [31]:
s3='wonDerful Dress'
print(s3.find('D'))

3

In [32]:
print(s3.find('Dr'))

10

In [33]:
x=list('friends')
print(x)

['f', 'r', 'i', 'e', 'n', 'd', 's']

### set

In [34]:
x=set("friends")
print(x)

{'f', 'n', 's', 'i', 'e', 'd', 'r'}

In [35]:
a={5,4,3,2,1}
b={0,9,8,2,1}

In [36]:
print(a|b)
print(a.union(b))

{0, 1, 2, 3, 4, 5, 8, 9}
{0, 1, 2, 3, 4, 5, 8, 9}

In [37]:
a={5,4,3,2,1}
b={0,9,8,2,1}
print(a&b)
print(a.intersection(b))

{1, 2}
{1, 2}

In [38]:
a={5,4,3,2,1}
b={0,9,8,2,1}
print(a-b)
print(a.difference(b))

{3, 4, 5}
{3, 4, 5}

In [39]:
a={5,4,3,2,1}
b={0,9,8,2,1}
print(b-a)
print(b.difference(a))

{0, 8, 9}
{0, 8, 9}

In [40]:
a={5,4,3,2,1}
b={2,1}
print(a.issubset(b))

False

In [41]:
a={5,4,3,2,1}
b={2,1}
print(b.issubset(a))

True

In [42]:
a={4,5,6,7,8,9}
b={7,8,9}
print(a.issuperset(b))

True

In [43]:
a={4,5,6,7,8,9}
b={7,8,9}
print(b.issuperset(a))

False

In [44]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [45]:
a={1,2,3,4,5,6,7,8,9}
a.add(0)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
a.add(8)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [48]:
a={1,2,3,4,5}
del(a)
print(a)

NameError: name 'a' is not defined

In [49]:
b={10,20,30,40}
b.clear()
print(b)

set()

In [50]:
a={2,4,6,8,0}
a.remove(6)
print(a)

{0, 2, 4, 8}

In [51]:
a.remove(6)
print(a)

KeyError: 6

In [52]:
a={9,8,7,6}
a.discard(8)
print(a)

{9, 6, 7}

In [53]:
print(a)
a.discard(8)
print(a)

{9, 6, 7}
{9, 6, 7}

In [54]:
a={2,3,4,5,6,7}
r=a.pop()
print(a)
print(r)

{3, 4, 5, 6, 7}
2

## dictionary

In [55]:
person={'first_name':'john','last_name':'sam','salary':4000}
print(person['first_name'])

john

In [56]:
l1={'rick','jam','mark','jack','ken'}
l2=sorted(l1)
print(l1)
print(l2)

{'rick', 'jam', 'mark', 'ken', 'jack'}
['jack', 'jam', 'ken', 'mark', 'rick']

In [57]:
person={'first_name':['john','sam','jim','kim'],'last_name':'len'}
print(person['first_name'])
print(person['first_name'][2])

['john', 'sam', 'jim', 'kim']
jim

In [58]:
person['first_name'][2]='XYZ'
print(person['first_name'])

['john', 'sam', 'XYZ', 'kim']

In [59]:

person={'first_name':['john','nick','jack'],'last_name':'kim'}
print(person['first_name'])
del(person['first_name'][2])
print(person['first_name'])

['john', 'nick', 'jack']
['john', 'nick']

In [60]:
person.clear()
print(person['first_name'])

KeyError: 'first_name'

In [61]:
d1={'a':1,'b':2,'c':3,'d':4,'e':5}
double_d1={k:v**2 for (k,v) in d1.items()}
print(double_d1)

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [62]:
di={'brand':'ford','model':'mustang','year':2004}
print(di)
di['color']='red'
print(di)

{'brand': 'ford', 'model': 'mustang', 'year': 2004}
{'brand': 'ford', 'model': 'mustang', 'year': 2004, 'color': 'red'}

In [63]:
di.pop('model')
print(di)

{'brand': 'ford', 'year': 2004, 'color': 'red'}

In [67]:
mydi=di.copy()
print(mydi)

{'brand': 'ford', 'year': 2004, 'color': 'red'}

In [69]:
myfam={'child1':{'name':'emi','year':2000},'child2':{'name':'ash','year':2002},'child3':{'name':'linus','year':2009}}
print(myfam)
print('\nValues\n')
print(myfam.values())
print('\nItems\n')
print(myfam.items())

{'child1': {'name': 'emi', 'year': 2000}, 'child2': {'name': 'ash', 'year': 2002}, 'child3': {'name': 'linus', 'year': 2009}}

Values

dict_values([{'name': 'emi', 'year': 2000}, {'name': 'ash', 'year': 2002}, {'name': 'linus', 'year': 2009}])

Items

dict_items([('child1', {'name': 'emi', 'year': 2000}), ('child2', {'name': 'ash', 'year': 2002}), ('child3', {'name': 'linus', 'year': 2009})])

In [73]:
myfam={'father':{'name':'ravi','age':45},'mother':{'name':'swapna','age':40},"children":{'child1':{'name':'ashwin','age':19},'child2':{'name':'anil','age':17}}}
print(myfam)
print(myfam['father'])
print(myfam['children'])
print(myfam['children']['child1'])

{'father': {'name': 'ravi', 'age': 45}, 'mother': {'name': 'swapna', 'age': 40}, 'children': {'child1': {'name': 'ashwin', 'age': 19}, 'child2': {'name': 'anil', 'age': 17}}}
{'name': 'ravi', 'age': 45}
{'child1': {'name': 'ashwin', 'age': 19}, 'child2': {'name': 'anil', 'age': 17}}
{'name': 'ashwin', 'age': 19}

In [75]:
cus_names={'nick','rick','jim','ken'}
or_id=['AA123','AAA110','BBB111','BBB123','CCC100']
for(c,o) in zip(cus_names,or_id):
    print('hello',c,'your order id is ',o)

hello rick your order id is  AA123
hello nick your order id is  AAA110
hello ken your order id is  BBB111
hello jim your order id is  BBB123

In [78]:
city=['chennai','mumbai','pune','delhi']
population=[5000,6000,7000,9900]
new_dict={city:population for city,population in zip(city,population)}
print(new_dict)

{'chennai': 5000, 'mumbai': 6000, 'pune': 7000, 'delhi': 9900}