# tuple

### length of tuple inside list

In [1]:
list2=[(1,3,6),('a','b','c')]
print(list2)
print(len(list2))
print(len(list2[1]))

[(1, 3, 6), ('a', 'b', 'c')]
2
3

### tuple based on ascii value

In [2]:
tup1=(1,2,3,'a','d','g')
tup2=('f','H','k','O')
print(len(tup1))
print(min(tup2))
print(max(tup2))

6
H
k

### multiplication

In [3]:
tup1=(1,2,4,5,'y','m','g')
print(tup1*4)
print('y' in tup1)

(1, 2, 4, 5, 'y', 'm', 'g', 1, 2, 4, 5, 'y', 'm', 'g', 1, 2, 4, 5, 'y', 'm', 'g', 1, 2, 4, 5, 'y', 'm', 'g')
True

### multiply one element

In [4]:
t1=(7,8,9)
t5=t1[:2]
t3=t1[1:]*5
t1=t5+t3
print(t1)

(7, 8, 8, 9, 8, 9, 8, 9, 8, 9, 8, 9)

### del tuple

In [5]:
tup1=(5,6,7)
tup2=(3,4,5)
t3=tup1+tup2
print(t3)
print(tup2)

(5, 6, 7, 3, 4, 5)
(3, 4, 5)

In [6]:
del(tup2)
print(tup2)

NameError: name 'tup2' is not defined

### update list inside tuple

In [7]:
tup2=([1,3,4],[7,8,9,0],5,6)
print(tup2)
print(type(tup2))
print(type(tup2[0]))
tup2[1]=[10,11,12]
tup2[1][1]=[10,11,12]
print(tup2)

([1, 3, 4], [7, 8, 9, 0], 5, 6)
<class 'tuple'>
<class 'list'>

TypeError: 'tuple' object does not support item assignment

### convert list to tuple

In [8]:
t1=(10,8,9)
l1=list(t1)
t2=tuple(l1)
print(t1)
print(l1)
print(t2)

(10, 8, 9)
[10, 8, 9]
(10, 8, 9)

# functions

In [9]:
def sales():
    total_sales=400*10
    print(total_sales)

In [10]:
sales()

4000

In [11]:
def sales(Qty):
    Total_sales=Qty*100
    print(Total_sales)

In [12]:
sales(60)

6000

In [13]:
def sales(Qty,Prc):
    Total_sales=Qty*Prc
    print(Total_sales)

In [14]:
sales(50,90)
sales(99,88)

4500
8712

In [15]:
def sales(Qty,Prc=60):
    Total_sales=Qty*Prc
    print(Total_sales)

In [16]:
sales(79)

4740

In [17]:
def sales(qty=80,prc=90):
    Total_sales=qty*prc
    print(Total_sales)

In [18]:
sales()

7200

In [19]:
sales(60)

5400

In [20]:
sales(70,80)

5600

In [21]:
sales(prc=50)

4000

In [22]:
s1=sales()
print(s1)

7200
None

In [23]:
print(s1)

None

In [24]:
s2=sales(14,37)
print(s2)

518
None

In [25]:
print(s2)

None

In [26]:
def sales(qty=88,prc=99):
    amt=qty*prc
    print(amt)
    return(amt)

In [27]:
sales()

8712

8712

In [28]:
def sales(qty=55,prc=45):
    amt=qty*prc
    print(amt)
    return(amt)
    print(qty)
    print(prc)

In [29]:
sales()

2475

2475

In [30]:
s2=sales(25,70)
print(s2)

1750
1750

In [31]:
def financials(revenue,expenses):
    #this function is used to calculate profit and profit ratio
    profit=revenue-expenses
    profit_ratio=profit/expenses
    new_financials=(profit,profit_ratio)
    return(new_financials)

In [32]:
financials(10000,2000)

(8000, 4.0)

In [33]:
def converto(deg):
    f=(deg*9/5)+32
    return(f)

In [34]:
temp=40
temp=converto(temp)
print(temp)

104.0

In [35]:
converto(42)

107.6

# user input

In [36]:
def financials(revenue):
    expenses=int(input('enter expense'))
    profit=revenue-expenses
    profit_ratio=profit/revenue
    new_financials=(profit,profit_ratio)
    return(new_financials)

In [39]:
financials(5000)

enter expense60000

(-55000, -11.0)

In [38]:
financials(int(input('enter revenue')))

enter revenue7000
enter expense5500

(1500, 0.21428571428571427)